<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS - Web Express</title>
</head>
<body>
    <h3>Contenido global que no cambia</h3>
    {{{body}}}
    <h3>Contenido global que no cambia</h3>
</body>
</html>