<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS - Datos personales</title>
</head>
<body>
    <div>
        <!-- Region de la pagina donde se inserta lo renderizado por hbs -->
    </div>
    
    <!-- Include Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <!-- generador de la plantilla -->
    <script>
        const templateStr = `
                            <h1>Datos Personales</h1>
                            <ul>
                                <li>{{nombre}}</li>
                                <li>{{apellido}}</li>
                                <li>{{edad}}</li>
                                <li>{{email}}</li>
                                <li>{{telefono}}</li>
                            </ul>`;
        const template = Handlebars.compile(templateStr);
        const context = {
                            nombre: 'Gustavo',
                            apellido: 'Cerati',
                            edad: 40,
                            email: 'coder@house',
                            telefono: '12345678'
                        }
        const html = template(context);
        document.querySelector('div').innerHTML = html;
    </script>
</body>
</html>