html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug View Engine
    body    
        h3 Header - contenido estatico
        block saludo
        h3 Footer - contenido estatico