<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medidor EJS</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 

    <h2 style="color: blue;"> <%=titulo%> </h2>
    <span><%=min%></span>
    <meter min="<%=min%>" max="<%=max%>" value="<%=nivel%>"></meter>
    <span><%=max%></span>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>