<!-- Formulario -->
    <h1 style="color:blue;">Ingrese datos</h1>
    <br>
    <form action="/personas" method="post">
        <div class="form-group">
            <label for="nombre"><b>Nombre</b></label>
            <input id="nombre" class="form-control" type="text" name="nombre">
        </div>
        <div class="form-group">
            <label for="apellido"><b>Apellido</b></label>
            <input id="apellido" class="form-control" type="text" name="apellido">
        </div>
        <div class="form-group">
            <label for="edad"><b>Edad</b></label>
            <input id="edad" class="form-control" type="number" name="edad">
        </div>
        <div class="form-group">
            <label for="avatar"><b>Avatar</b></label>
            <input id="avatar" class="form-control" type="text" name="avatar">
        </div>
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>
<!-- Final Formulario -->
